<!-- 

    <nav>
        <a href="/" class="logo">Proficient</a>
        <div class="nav-page" id="menuList">
            <a href="/restaurant-title">Browse Restaurant</a>
            <a href="/shared">Share a Restaurant</a>
            <a href="/about">About Proficient</a>
        </div>
       
            <img src="Screenshot_20210917-080240_Opera Mini.jpg" class="close-btn" onclick="togglemenu()">
       
    </nav>

 -->


 <nav>
    <div class="nav-center">
      <!-- nav header -->
      <div class="nav-header">
          <a href="/"> <img src="Blue Simple Marketing Business Logo.png" class="logo" alt="logo" /></a>
       
        <button class="nav-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- links -->
      <ul class="links">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/about">about</a>
        </li>
        <li>
          <a href="/restaurant-title">Restaurant</a>
        </li>
        <li>
          <a href="/shared">Shared</a>
        </li>
      </ul>
      <!-- social media -->
      <ul class="social-icons">
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-behance"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            <i class="fab fa-sketch"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>