<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <title>Confirm page</title>
</head>
<body>

    <%- include('includes/header') %>


    <main>
        <h1>Congratulation!</h1>

        <p>Your Restaurant was successfully added to our list!</p>
    </main>
   
</body>
</html>