<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('includes/header') %>
    <main>

        <div class="tittle">
            <h1>Make the world a taslier place</h1>
            <p>Share Your Favorite Restaurant or Find recommendations of other Users!</p>
        </div>

        <div class="post-product">

            <section class="section1">
              
            <h3><a href="/restaurant-title">Browse Shared Restaurant</a></h3>
            </section>

            <section class="section2">
              
                <h3><a href="/shared">Share Your Favorite Restaurant</a></h3>
            </section>
    
        </div>
       


    
        
      
        
    </main>
    

    
</body>
</html>